# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.turbo
.next
.vite
out

# Env files
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Coverage
coverage
.nyc_output

# Tanstack Router temporary files
.tanstack/tmp
